:root {
  --bg-layout-color: #FFF6F8;
  --bg-block-border-color: #ffdde5;
  --bg-block-color: #ffbfcc;
  --text-primary-color: #582B41;
  --text-secondary-color: #7F4B61;
  --text-highlighted-color: #E3006F;
  --text-highlighted2-color: #FF78A7;
}


* {
  box-sizing: border-box;
  color: var(--text-primary-color);
}

body {
  margin: 0;
  padding: 30px;
  background-color: var(--bg-layout-color)
}

h2,
h1 {
  color: var(--text-highlighted-color);
  margin: 0;
}

h4,
h3 {
  color: var(--text-highlighted2-color);
  margin: 0;
}

.container { /*Global filter by page*/
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.buildings { /*Container for specific 3 blocks*/
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  margin-top: 40px;
}

.small { /*Settings block and leader board*/
  background-color: var(--bg-block-color);
  border: 2px solid var(--bg-block-border-color);
  border-radius: 8px;
  width: 15%;
}

.main { /*Game block*/
  display: flex;
  background-color: var(--bg-block-color);
  border: 2px solid var(--bg-block-border-color);
  border-radius: 8px;
  width: 70%;
  align-content: center;
  align-items: center;
}

.screen { /*Specifically the game screen*/
  width: 80%; 
  border: 2px solid var(--bg-block-border-color);
  border-radius: 8px;
  margin-top: 20px;
}