:root {
  --bg-layout-color: #ffe4eaff;
  --bg-block-border-color: #ffdde5;
  --bg-block-color: #ffbfcc;
  --text-primary-color: #582b41;
  --text-secondary-color: #7f4b61;
  --text-highlighted-color: #e3006f;
  --text-highlighted2-color: #ff78a7;
  --a: 32px;
  --b: 24px;
  --c: 16px;
  --i: 28px;
  --j: 20px;
  --l: 12px;
  --A: 512px;
  --B: 384px;
  --C: 256px;
}

* {
  box-sizing: border-box;
  color: var(--text-primary-color);
}

body {
  margin: 0;
  background-color: var(--bg-layout-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

h2,
h1 {
  color: var(--text-highlighted-color);
  margin: 0;
}

h4,
h3 {
  color: var(--text-highlighted2-color);
  margin: 0;
}

p {
  font-weight: bold;
}

.container {
  /*Global filter by page*/
  width: 100%;
  max-width: 1000px;
  margin: 0 30px;
  padding: 0 40px;
}

.buildings {
  /*Container for specific 3 blocks*/
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  margin-top: 20px;
}

.small {
  /*Settings block and leaderboard*/
  background-color: var(--bg-block-color);
  border: 2px solid var(--bg-block-border-color);
  border-radius: 8px;
  width: 15%;
  padding: 15px;
}

.main {
  /*Game block*/
  display: flex;
  flex-direction: column;
  background-color: var(--bg-block-color);
  border: 2px solid var(--bg-block-border-color);
  width: var(--A);
  height: auto;
}

.topMain {
  /*Top part of the game block*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 5px;
  border-bottom: 2px solid var(--bg-block-border-color);
}

.cell {
  background: rgb(102, 145, 74);
  border: 2px solid rgb(64, 98, 65);
}

.screen {
  /*Specifically the game screen in which the snake will move*/
  display: grid;
  grid-template-columns: repeat(16, var(--a));
  grid-template-rows: repeat(16, var(--a));
  background: #ddd;
  width: auto;
  height: auto;
  position: relative;
}

.activeButton { 
  /*Class that highlights the selected option*/
  outline: 3px solid var(--text-highlighted-color);
  background-color: var(--text-highlighted2-color);
  color: rgb(255, 255, 255);
  border-radius: 6px;
}

#fruitsId {
  position: absolute;
  width: var(--i);
  height: var(--i);
  background-color: red;
  border-radius: 50%;
  z-index: 15;
  /*over the cells of the grid*/
  display: none;
  margin: 3.5px;
}

.description {
  margin: 30px;
  padding: 10px;
  background-color: var(--bg-block-color);
  border: 2px solid var(--bg-block-border-color);
  border-radius: 8px;
}

@media (max-width: 1024px) {

  h1,
  h2 {
    font-size: 24px;
  }

  h3,
  h4 {
    font-size: 18px;
  }

  p {
    font-weight: bold;
    font-size: 16px;
  }

  .container {
    margin: 0 20px;
    padding: 0 20px;
  }

  .main {
    width: var(--B);
  }

  .buildings {
    gap: 15px;
  }

  .small {
    padding: 5px;
  }

  .activeButton {
    outline: 2px solid var(--text-highlighted-color);
  }


  #fruitsId {
    width: var(--j);
    height: var(--j);
  }

  .screen {
    grid-template-columns: repeat(16, var(--b));
    grid-template-rows: repeat(16, var(--b));
  }

}

@media (max-width: 768px) {

  h1,
  h2 {
    font-size: 18px;
  }

  h3,
  h4 {
    font-size: 16px;
  }

  p {
    font-weight: bold;
    font-size: 14px;
  }

  .container {
    margin: 0 10px;
    padding: 0 10px;
  }

  .main {
    width: var(--C);
  }

  .buildings {
    gap: 10px;
  }

  .small {
    padding: 2px;
  }

  .activeButton {
    outline: 1px solid var(--text-highlighted-color);
  }

  #fruitsId {
    width: var(--l);
    height: var(--l);
  }

  .screen {
    grid-template-columns: repeat(16, var(--c));
    grid-template-rows: repeat(16, var(--c));
  }

}